@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  background-color: #93faa5;
  font-family: 'Poppins', sans-serif;
  color: #252958;
}

.headers {
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 7px 28px -6px rgba(0,0,0,0.75);
}

#editor {
  width: 550px;
  height: 500px;
  box-shadow: 0px 7px 28px -6px rgba(0,0,0,0.75);
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
}

#preview {
  border: 1px solid #252958;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 7px 28px -6px rgba(0,0,0,0.75);
}